body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(255, 0, 157);
    padding: 20px;
}


h1{
    color: blueviolet;
    font: size 100px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;

}
input{
    font-size: 100%;
    border-radius: 200px;
    border: 3px solid brown;
    padding: 10px;
    margin-left: 10px;

}
button{
    background-color: aqua;
    color: black;
    padding: 5px;
    border-radius: 5px;
    cursor: default;

}
.category tag{
    color: brown;
    font-size: 80px;
    font-weight: bold;
    margin-right: 6px;

}
.category-Friend{
    background-color: palevioletred;
}
.category-Family{
    background-color: rgb(250, 10, 10);
}

.category-Colleague{
    background-color: blue;
}
