body {
  font-family: "Times New Roman", Times, serif;
  padding: 20px;
  background-color: rgb(158, 72, 122);
}

h1 {
  color: blueviolet;
  font: size 100px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
}
input {
  font-size: 100%;
  border-radius: 200px;
  border: 3px solid brown;
  padding: 10px;
  margin-left: 10px;
}
button {
  background-color: aqua;
  color: black;
  padding: 5px;
  border-radius: 5px;
  cursor: default;
}

#guest-list div{
  color: black;
  padding: 5px;

}
.friend {
  background-color: rgb(243, 10, 87);
  color: blueviolet;
}
.family {
  background-color: rgb(116, 14, 14);
  color: rgb(15, 243, 243);
}
.colleague {
  background-color: blue;
  color: rgb(0, 0, 0);
}